.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-header h1 {
  height: 0;
  width: 0;
  font-size: 0;
}

.App-link {
  color: #61dafb;
}

.menu nav ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.menu nav ul li {
  float: left;
  border-right: 1px solid #bbb;
}

.menu nav ul li:last-child {
  border-right: none;
}

.menu nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  border-width: 0;
  background-color: #282c34;
}

.menu nav ul li a:hover {
  background-color: #000;
}

.go-back-button {
  width: 3%;
  height: 3%;
  margin-left: 2%;
  margin-top: 2%;
}

.step-enter {
  opacity: 0.01;
  transform: translate(0%, 10%);
}

.step-enter.step-enter-active {
  opacity: 1;
  transform: translate(0%, 0%);
  transition: transform 200ms ease-in-out, opacity 200ms ease-out;
}

.step-leave {
  visibility: hidden;
  transform: translate(0%, 0%);
}

.step-leave.step-leave-active {
  visibility: hidden;
  transform: translate(0%, -10%);
  transition: transform 200ms ease-in-out;
}

.disclaimer {
  background-color: black;
  color: white;
  font-size: xx-small;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.disclaimer-header {
  margin-top: 1%;
  width: 100%;
}

.disclaimer-header button {
  background-color: black;
  border: 0;
  margin-right: 1%;
  float: right;
  width: 2%;
  height: 2%;
}

.disclaimer-header button img {
  width: 100%;
  height: 100%;
}

.disclaimer p {
  text-align: left;
  margin-left: 10%;
  width: 80%;
  word-wrap: break-word;
}

.about {
  margin-bottom: 20vh;
}

.question-wrapper {
  margin-bottom: 20vh;
}

.commission-panel-wrapper {
  margin-bottom: 20vh;
}

.search-bar input[type=text] {
  width: 70vw;
  height: 5vh;
  padding: 1px;
  font-size: 20px;
  margin-top: 20px;
}

.search-result {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.search-result a {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  width: 70vw;
  height: 5vh;
}

.search-result a:hover:not(.header) {
  background-color: #eee;
}

/* remove the default increase/decrease arrows associated with input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.question-wrapper label {
  font-size: 4vh;
}

.question-wrapper input[type="Radio"] {
  visibility: hidden;
}

.question-wrapper input[type="Radio"] + label {
  margin-top: 3vh;
  background-color: white;
  color: black;
  border: 2px solid #000000;
  font-size: 1vw;
  padding: 1% 3%;
}

.question-wrapper input[type="Radio"]:checked + label {
  background-color: #000000;
  color: white;
}

.quantity-question p {
  font-size: 5vh;
}

.quantity-input {
  width: 20vw;
  height: 5vh;
  border: 1px solid;
  border-radius: 10px;
}

.quantity-input:focus {
  outline: none;
}

.quantity-input:valid ~ .invalid-quantity-notice {
  font-size: 1vh;
  visibility: hidden;
}

.quantity-input:invalid {
  border-radius: 10px;
  border-color: red;
}

.quantity-input:invalid ~ .invalid-quantity-notice {
  color: red;
  font-size: 1vh;
}

.account-question p {
  font-size: 5vh;
}

.question-wrapper button {
  margin-top: 3vh;
  background-color: white;
  color: black;
  border: 2px solid #000000;
  font-size: 1vw;
  padding: 1% 3%;
}

.question-wrapper button:hover {
  background-color: #000000;
  color: white;
}

.question-wrapper button:disabled {
  margin-top: 3vh;
  background-color: white;
  color: gray;
  border: 2px solid gray;
  font-size: 1vw;
  padding: 1% 3%;
}

.broker-options {
  width: 70vw;
  font-size: 3vh;
  margin-left: auto;
  margin-right: auto;
}

.broker-options-header h2 {
  float: left;
}

.broker-options-header h3 {
  float: right;
  bottom: 0;
  font-size: 2vh;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.currency-switch-checkbox {
  height: 0;
  width: 0;
  position: absolute;
  visibility: hidden;
}

.currency-switch-label {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 3vw;
  height: 2.5vh;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.currency-switch-label .currency-switch-button {
  content: '';
  position: absolute;
  top: 0.15vh;
  left: 0.1vw;
  width: 1.25vw;
  height: 2.25vh;
  border-radius: 100%;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.currency-switch-checkbox:checked + .currency-switch-label .currency-switch-button {
  left: calc(100% - 0.1vw);
  transform: translateX(-100%);
}

.currency-switch-label:active .currency-switch-button {
  width: 1.7vw;
}

.broker-option {
  width: 100%;
  height: 8vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
}

.broker-option img {
  width: 10%;
  height: 80%;
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5%;
}

.broker-option h3 {
  flex: 0 0 20%;
  font-size: 2.5vh;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5%;
}

.broker-option h5 {
  flex: 0 0 15%;
  font-size: 2.5vh;
  margin-top: auto;
  margin-bottom: auto;
  color: grey;
  padding-right: 25%;
}

.broker-option p {
  margin-top: auto;
  margin-bottom: auto;
}

.about h2 {
  text-align: left;
  margin-left: 10%;
}

.about p {
  text-align: left;
  margin-left: 10%;
  width: 80%;
  word-wrap: break-word;
  white-space: pre-line;
}

.loading-mask {
  color: black;
  height: 100%;
  width: 100%;
}

.loading-spinner {
  width: 10%;
  height: 10%;
  margin-left: 30%;
  margin-right: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-spinner {
    animation: loading-spinner-spin infinite 1s linear;
  }
}

@keyframes loading-spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}